<ng-container *ngIf="true">
   
</ng-container>
<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt=""
      />
      <h4>Your Cart Is Empty</h4>
      <h6>Add Item To It Now</h6>
      <button class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>
