.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
margin-top: 20px;
}

.register-form {
  width: 400px;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}