
.form-control {
  border-radius: 3px;
  width: 600px;
  margin-left: 20px;
}

.search-icon {
  position: absolute;
  z-index: 10;
  right: 655px;
  top: 23px;
  color: rgb(2, 32, 201);
}

.cart-icon {
  font-size: 24px;
  margin-right: 10px;
}
.auth:hover
{
 background-color: blue;
}
 .home-icon{
    color: white;
  }